
<div class=" bg-transparent ">
  <div class="container p-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-8 ">
          <div class="stacccube-green">
            <svg
              version="1.1"
              id="svg2"
              width="225"
              height="225"
              viewBox="0 0 119.7973 128.35467"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:svg="http://www.w3.org/2000/svg">
              <defs
                id="defs6" />
              <g
                id="g10"
                transform="matrix(1.3333333,0,0,-1.3333333,-522.49854,873.28397)">
                <g
                  id="g154"
                  transform="translate(436.7979,654.963)">
                  <path
                    d="M 0,0 44.924,-19.427 0,-38.854 -44.924,-19.427 Z"
                    style="fill:#012300;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path156" />
                </g>
                <g
                  id="g158"
                  transform="translate(436.7979,654.963)">
                  <path
                    d="m 0,0 -44.924,-19.427 5.301,-8.752 19.009,8.752 L 0,-10.513 Z"
                    style="fill:#045600;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path160" />
                </g>
                <g
                  id="g162"
                  transform="translate(450.6865,644.5885)">
                  <path
                    d="M 0,0 -27.776,-12.012 V -19.95 L 0,-7.937 Z"
                    style="fill:#045600;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path164" />
                </g>
                <g
                  id="g166"
                  transform="translate(436.7979,603.2701)">
                  <path
                    d="M 0,0 44.924,19.427 V 32.266 L 0,12.838 Z"
                    style="fill:#045600;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path168" />
                </g>
                <g
                  id="g170"
                  transform="translate(391.874,620.6783)">
                  <path
                    d="M 0,0 44.924,-19.428 V -32.266 L 0,-12.838 Z"
                    style="fill:#07a500;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path172" />
                </g>
                <g
                  id="g174"
                  transform="translate(436.7979,588.4122)">
                  <path
                    d="M 0,0 44.924,19.428 V 32.266 L 0,12.838 Z"
                    style="fill:#057500;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path176" />
                </g>
                <g
                  id="g178"
                  transform="translate(391.874,605.8204)">
                  <path
                    d="M 0,0 44.924,-19.427 V -32.266 L 0,-12.838 Z"
                    style="fill:#0cff02;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path180" />
                </g>
                <g
                  id="g182"
                  transform="translate(436.7979,573.5548)">
                  <path
                    d="M 0,0 44.924,19.428 V 32.266 L 0,12.838 Z"
                    style="fill:#07a500;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path184" />
                </g>
                <g
                  id="g186"
                  transform="translate(391.874,590.963)">
                  <path
                    d="M 0,0 44.924,-19.428 V -32.266 L 0,-12.838 Z"
                    style="fill:#7bff75;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path188" />
                </g>
                <g
                  id="g190"
                  transform="translate(436.7979,558.6974)">
                  <path
                    d="M 0,0 44.924,19.427 V 32.266 L 0,12.838 Z"
                    style="fill:#0cff02;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path192" />
                </g>
                <g
                  id="g194"
                  transform="translate(391.874,635.5358)">
                  <path
                    d="M 0,0 44.924,-19.428 V -32.266 L 0,-12.838 Z"
                    style="fill:#057500;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path196" />
                </g>
                <g
                  id="g198"
                  transform="translate(416.1836,635.5358)">
                  <path
                    d="M 0,0 6.872,-2.972 V -8.915 L 0.031,-7.59 Z"
                    style="fill:#057500;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path200" />
                </g>
                <g
                  id="g202"
                  transform="translate(450.541,644.4503)">
                  <path
                    d="M 0,0 20.613,-8.915 18.288,-14.219 0,-5.943 Z m -13.743,5.943 6.871,-2.971 -2.121,-5.441 -4.75,0.144 z"
                    style="fill:#057500;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path204" />
                </g>
                <g
                  id="g206"
                  transform="translate(436.1533,618.7067)">
                  <path
                    d="M 0,0 20.851,7.731 21.114,16.775 -6.227,4.943 Z"
                    style="fill:#045600;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path208" />
                </g>
                <g
                  id="g210"
                  transform="translate(391.8744,635.5359)">
                  <path
                    d="M 0,0 44.923,-19.428 89.847,0 44.923,19.427 Z M 44.923,14.857 51.794,11.886 44.923,8.915 38.052,5.943 31.181,2.972 24.309,0 31.181,-2.972 24.309,-5.943 17.438,-2.972 10.567,0 17.438,2.972 24.309,5.943 31.18,8.915 38.052,5.943 31.181,8.915 H 31.18 l 6.872,2.971 z M 58.667,8.915 65.538,5.943 72.409,2.972 79.28,0 l -6.871,-2.972 -6.871,-2.971 -6.871,-2.971 -6.873,-2.972 -6.871,-2.971 -6.871,2.971 6.871,2.972 6.871,-2.972 -6.871,2.972 6.871,2.971 6.873,2.971 L 65.538,0 58.667,2.972 51.794,0 l -6.871,-2.972 -6.871,-2.971 -6.871,-2.971 -6.872,2.971 6.872,2.971 6.871,-2.971 -6.871,2.971 6.871,2.972 6.871,2.972 6.871,2.971 z m -20.615,2.971 6.871,-2.971 z m 20.615,-8.914 6.871,2.971 z m -6.873,2.971 6.873,-2.971 z m -27.485,0 6.872,-2.971 z M 65.538,0 72.409,-2.972 65.538,0 72.409,2.972 Z M 44.923,2.972 51.794,0 Z m -27.485,0 L 24.309,0 17.438,-2.972 24.309,0 Z M 38.052,0 44.923,-2.972 Z m 20.615,-2.972 6.871,-2.971 z m -6.873,-2.971 6.873,-2.971 z"
                    style="fill:#079c00;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path212" />
                </g>
              </g>
            </svg>
          </div>
          <br>
          <br>
          <br>
          <h1 class="display-3 mb-5 text-center">STACC CTF<span class="vim-caret">͏͏&nbsp;</span></h1>
          <div class="lead mb-3 text-mono text-success">Welcome hackers! Prove the world that a computer genius with a laptop is not a nerd sitting in the corner of a untidy room but a fun loving work of brilliance! Join our CTF and expand your knowledge about computer forensics.
          </div>
          <div class="text-mono">
            <a href="challenges" class="btn btn-primary btn-shadow px-3 my-2 ml-0 text-left">
              Let's Hack!
            </a>
          </div>
        </div>
      </div>
  </div>
</div>